.usertable{
    border-collapse: collapse;
    padding: 5px;
    margin: auto;
}

table,th,td {
    border: 1px solid;
}


th,td{
    padding: 13px;
}
.button{
    height:26px;
    font-weight: bold;
    border: 1px solid;
    margin: 10px;
    color: blueviolet;
}
.button1{
    height:18px;
    font-weight: bold;
    border: 1px solid;
    margin: 8px;
    color: blue;
}