.usertable{
    border-collapse: collapse;
    padding: 5px;
    margin: auto;
}

table,th,td {
    border: 1px solid;
}


th,td{
    padding: 13px;
}
.button{
    height:26px;
    font-weight: bold;
    border: 1px solid;
    margin: auto;
    color: blueviolet;
}
.button1{
    height:18px;
    font-weight: bold;
    border: 1px solid;
    margin: 8px;
    color: blue;
}
.input-element {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border-left-style: solid;
  border-left-width: 1px;
  font-size: 10px;
  padding: 6px;
  margin: 8px;
}
.heading{
    margin: auto;
    padding: auto;
}